<div class="content">

    <h1>ЗАПИСЬ НА ОБУЧЕНИЕ</h1>

    {% if documentsForRegistration %}

        <h2>Документы для регистрации в группе</h2>
        <ul class="text" style="margin-top: 20px">
            {% for item in documentsForRegistration %}
                <li style="list-style: decimal"> {{ item.text }}</li>
            {% endfor %}
        </ul>

        <div class="clearfix"></div>

        <div style="margin: 30px;" class="clearfix"></div>

    {% endif %}
</div>

{{ form_start(form, {'attr': {'id': 'user-application-form', 'class': 'form-send-to-email'}}) }}
<div class="content">

    <h2 style="margin: 0 0 20px 0">Подать заявку</h2>

    {{ form_widget(form) }}

    <input class="button" style="margin-top: 20px" type="submit">
</div>
{{ form_end(form) }}

<script type="text/javascript">

    var form = $('#user-application-form');

    form.submit(function () {
        var request = $.ajax({
            url: form.attr("action"),
            type: 'POST',
            data: form.serialize()
        });

        request.done(function (data) {
            if (data.status == 'ok') {
                showDialog('Успешно', 'Заявка принята. Вам перезвонят.');
            }
        });

        request.fail(function (data) {
            showDialog('Ошибка с сервера', data.responseJSON.errors);
        });

        return false;
    });

</script>

<div class="content">

    <h2>Контактная информация</h2>
    <p class="info-box">
        г. Казань,
        ул, Бутлерова,
        дом 30
        тел: +7(843) 267-58-08
        тел: +7 (927)-400-06-65
    </p>

    <p class="info-box">
        г. Казань,
        ул. Профсоюзная,
        дом 40-42
        тел: +7(843) 214-34-14
        тел: +7 (927)-400-06-64
    </p>

    <div class="clearfix"></div>

    <div id="map"></div>

    <div style="margin: 130px;" class="clearfix"></div>
</div>


<script type="text/javascript">

    ymaps.ready(function () {
        latLng1 = [55.788282, 49.132995];
        latLng2 = [55.789097, 49.120185];

        var myMap = new ymaps.Map('map', {
            center: [55.788500, 49.126195],
            zoom: 15,
            controls: ['geolocationControl']
        }, {
            searchControlProvider: 'yandex#search'
        });

        myPlacemark1 = new ymaps.Placemark(latLng1, {
            hintContent: 'Автошкола Пилот-М',
            balloonContent: 'г. Казань, ул, Бутлерова, дом 30'
        });

        myPlacemark2 = new ymaps.Placemark(latLng2, {
            hintContent: 'Автошкола Пилот-М',
            balloonContent: 'г. Казань, ул. Профсоюзная, дом 40-42'
        });

        myMap.geoObjects.add(myPlacemark1);
        myMap.geoObjects.add(myPlacemark2);
        myMap.behaviors.disable(['scrollZoom', 'multiTouch']);
    });

</script>