<div class="content">
    <h1>ДАТЫ МЕРОПРИЯТИЙ</h1>
    <h2>Занятия</h2>
    <div class="text">1 мая выходной, 15 мая занятие 1 группы переносится.</div>

    <div class="info-box">
        <div class="title">1 группа</div>
        <div>Понедельник 18:00</div>
        <div>Среда 18:00</div>
    </div>

    <div class="info-box">
        <div class="title">2 группа</div>
        <div>Вторник 16:00</div>
        <div>Четверг 16:00</div>
    </div>

    <div class="info-box">
        <div class="title">3 группа</div>
        <div>Понедельник 16:00</div>
        <div>Среда 16:00</div>
    </div>

    <div class="info-box">
        <div class="title">4 группа</div>
        <div>Понедельник 18:00</div>
        <div>Среда 18:00</div>
    </div>

    <div class="clearfix"></div>


    <h2>Даты медосмотров</h2>
    <div class="info-box">
        <div class="title">5 апреля</div>
        Окулист
    </div>

    <div class="clearfix"></div>

    <h2>Даты экзаменов</h2>
    <div class="text">Экзамен будет проводится по адресу: улица Актайская,2</div>
    <div class="info-box">
        <div class="title">1 группа</div>
        20 мая
    </div>

    <div class="clearfix"></div>

    <div style="margin: 124px;" class="clearfix"></div>
</div>