<div class="content">
    <div class="title">ToDo:</div>
    <div class="title">1)Заполнить эту страницу контентом в for_students.htms.twig</div>
    <div class="title">2)Продумать аполнить контентом</div>
</div>