<div class="content">
    <h1>РЕСУРСЫ</h1>

    <h2>ПДД онлайн</h2>
    <div class="links">
        <a href="http://www.pdd24.com/" target="_blank">ПДД онлайн</a>
        <a href="https://www.gosuslugi.ru/category" target="_blank">Сайт госуслуги</a>
    </div>


    <h2>Образцы документов</h2>
    <div class="links">
        <a href="#">1) Заявление на обучение</a>
        <a href="#">2) Согласие родителей</a>
        <a href="#">3) Экзаменационный лист</a>
    </div>

    <div class="clearfix"></div>

    <div style="margin: 20px;" class="clearfix"></div>

</div>