{% if schedule %}
    <div>Расписание:</div>

    <div id="table-container">
        <table id="schedule">
            <thead>
            <tr>
                <th onclick="sortTable($('#schedule').find('tbody'), 0, 'tabledit-span', 'number')">#</th>
                <th onclick="sortTable($('#schedule').find('tbody'), 1, 'tabledit-span', 'string')">Группа</th>
                <th onclick="sortTable($('#schedule').find('tbody'), 2, 'tabledit-span', 'string')">Текст</th>
            </tr>
            </thead>

            <tbody>

            {% for item in schedule %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.text }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div style="margin: 30px"></div>

    <script type="text/javascript">

        $('#schedule').Tabledit({
            url: '{{ path('schedule_edit_from_table_action') }}',
            inputClass: 'input_green',
            editButton: true,
            buttons: {
                edit: {
                    class: 'button button-edit-table',
                    html: '<span class="glyphicon glyphicon-pencil"></span>',
                    action: 'edit',
                    method: 'POST'
                },
                delete: {
                    class: 'button button-edit-table',
                    html: '<span class="glyphicon glyphicon-trash"></span>',
                    action: 'delete',
                    method: 'DELETE'
                },
                save: {
                    class: 'button button-save',
                    html: 'Сохранить'
                },
                restore: {
                    class: 'button btn-sm btn-warning',
                    html: 'Восстановить',
                    action: 'restore'
                },
                confirm: {
                    class: 'button button-delete',
                    html: 'Подтвердить'
                }
            },
            columns: {
                identifier: [0, 'id'],
                editable: [[1, 'title'], [2, 'text']]
            }
        });

    </script>

{% else %}

    <div class="text center">Нет расписания</div>

{% endif %}