@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-UltraLight.otf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-UltraLightItalic.otf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-Thin.otf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-ThinItalic.otf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-Light.otf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-Roman.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-Italic.otf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-Medium.otf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-MediumItaicl.otf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/Helvetica Neue Condensed Bold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-BoldItalic.otf");
    font-weight: 600;
    font-style: italic;
}

.center {
    display: block;
    margin: 10px auto 20px auto !important;
    text-align: center;
}

.title{
    line-height: 43px;
    font-size: 25px;
    margin: 10px 0 10px 0;
}